@font-face {
    font-family: 'ClashGrotesk-Variable';
    src: url('../fonts/ClashGrotesk-Variable.woff2') format('woff2'),
         url('../fonts/ClashGrotesk-Variable.woff') format('woff'),
         url('../fonts/ClashGrotesk-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
}
h1{
    color: darkblue;
    text-align: center;
}
h3{ 
    color: darkblue;
    width: 120%; 
}
/* image{ 
    text-align:center;
} */
.begin{
        font-family:'ClashGrotesk-Variable', sans-serif;
        background-color: #add8e6;
        color: black;
        text-align: center;
}
li{ 
    width: 80%;
    background-color: lightsteelblue;
    color: #59788E;
    text-align: left; 
    padding: 10px 10px 10px 10px;
    font-size: 15px;
}
ol{ 
    width: 80%;
    background-color: lightsteelblue;
    color: darkblue;
    text-align: left; 
    font-size: 15px; 
}
button {
    border: 20px; 
    
}
form{ 
    text-align: middle;
    color: rgb(154, 154, 226);
    font-size: 20px;
}
input{  
    background-color: darkblue;
    color: whitesmoke;
    font-size: 20px;  
}    
footer{
    text-align: center; 
}